.sklep{
    background-color: #0091bd;
    color: white;
}

.card{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(143,170,66,1) 60%);
}

.btn{
    background: rgb(0,145,189);
background: linear-gradient(180deg, rgba(0,145,189,1) 10%, rgba(0,179,223,1) 50%, rgba(0,145,189,1) 90%);
}

.koszyk-table{
   background-color: #8eaa32;
   border: 4px solid #444444;
}

#koszyk{
    margin-right: auto;
    margin-left: auto;
}

.koszyk-table td{
    min-width: 100px;
    padding: 10px;
    text-align: center;
    font-size: 17px;
  }

.koszyk-table th{
    background-color: #0091bd;
    text-align: center;
    font-size: 20;
    font-weight: bold;
}

.koszyk-table tr:nth-child(even) {
    background-color: #9fbb53;
  }

.koszyk-btn{
    min-width: 200px;
    background-color: #9fbb53;
    padding: 10px;
    border: solid 2px #0091bd;
    border-radius: 10px;
}

#platnosc{
    padding: 20px;
    background-color: #8eaa32;
    max-width: 800px;
}

#formularz-platnosci{
    background-color: #8eaa32;
    margin-left: auto;
    margin-right: auto;
    
}

#formularz-platnosci td{
    padding-left: 40px;
    padding-right: 40px;
  }